## Monte Carlo - Black-Scholes-Merton

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

We have written a few lines of code that will import the documents you need and define the functions estimating d1, d2, and the Black-Scholes-Merton formula.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm
import os

ticker = 'MSFT'  
data = pd.DataFrame()  
# data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2000-1-1')['Adj Close']
data_dir = '../dataset'
data[ticker] = pd.read_csv(os.path.join(data_dir, ticker+'.csv'), index_col=0)['Adj Close']
data

                 MSFT
Date
2000-01-03  58.281250
2000-01-04  56.312500
2000-01-05  56.906250
2000-01-06  55.000000
2000-01-07  55.718750
2000-01-10  56.125000
2000-01-11  54.687500
2000-01-12  52.906250
2000-01-13  53.906250
2000-01-14  56.125000
2000-01-18  57.656250
2000-01-19  53.500000
2000-01-20  53.000000
2000-01-21  51.875000
2000-01-24  50.625000
2000-01-25  51.406250
2000-01-26  49.687500
2000-01-27  49.375000
2000-01-28  49.125000
2000-01-31  48.937500
2000-02-01  51.468750
2000-02-02  50.406250
2000-02-03  51.812500
2000-02-04  53.281250
2000-02-07  53.312500
2000-02-08  54.968750
2000-02-09  52.000000
2000-02-10  53.000000
2000-02-11  49.968750
2000-02-14  49.812500
...               ...
2017-02-27  64.230003
2017-02-28  63.980000
2017-03-01  64.940002
2017-03-02  64.010002
2017-03-03  64.250000
2017-03-06  64.269997
2017-03-07  64.400002
2017-03-08  64.989998
2017-03-09  64.730003
2017-03-10  64.930000
2017-03-13  64.709999
2017-03-14  64.410004
2017-03-15  64.750000
2017-03-16  64.639999
2017-03-17  64.870003
2017-03-20  64.930000
2017-03-21  64.209999
2017-03-22  65.029999
2017-03-23  64.870003
2017-03-24  64.980003
2017-03-27  65.099998
2017-03-28  65.290001
2017-03-29  65.470001
2017-03-30  65.709999
2017-03-31  65.860001
2017-04-03  65.550003
2017-04-04  65.730003
2017-04-05  65.559998
2017-04-06  65.730003
2017-04-07  65.680000

[4344 rows x 1 columns]

In [2]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))
 
def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def BSM(S, K, r, stdev, T):
        return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

Store the annual standard deviation of the log returns in a variable, called “stdev”.

In [3]:
stdev = np.log(data['MSFT']/data['MSFT'].shift(1)).std() * 250 ** 0.5
stdev

0.3112666672579791

Set the risk free rate, r, equal to 2.5% (0.025); the strike price, K, equal to 110.0; and the time horizon, T, equal to 1, respectively.

In [4]:
r = 2.5/100
K = 110.0
T = 1

Create a variable S equal to the last adjusted closing price of Microsoft. Use the “iloc” method.

In [5]:
S = data['MSFT'].iloc[-1]
S

65.680000000000007

Call the d1 and d2 functions with the relevant arguments to obtain their values.

In [6]:
d1(S, K, r, stdev, T)

-1.420783135795155

In [7]:
d2(S, K, r, stdev, T)

-1.7320498030531342

Use the BSM function to estimate the price of a call option, given you know the values of S, K, r, stdev, and T.

In [8]:
BSM(S, K, r, stdev, T)

0.63618456292029002