## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data_dir = '../dataset'
adj_closes = pd.DataFrame()
tickers = ['FB', 'WMT']
for t in tickers:
    adj_closes[t] = pd.read_csv(os.path.join(data_dir, t+'.csv'), index_col=0)['Adj Close']
adj_closes

                    FB        WMT
Date
2014-01-02   54.709999  78.910004
2014-01-03   54.560001  78.650002
2014-01-06   57.200001  78.209999
2014-01-07   57.919998  78.449997
2014-01-08   58.230000  77.830002
2014-01-09   57.220001  78.089996
2014-01-10   57.939999  78.040001
2014-01-13   55.910000  77.489998
2014-01-14   57.740002  77.959999
2014-01-15   57.599998  77.660004
2014-01-16   57.189999  76.760002
2014-01-17   56.299999  76.190002
2014-01-21   58.509998  75.839996
2014-01-22   57.509998  75.349998
2014-01-23   56.630001  74.959999
2014-01-24   54.450001  74.419998
2014-01-27   53.549999  74.150002
2014-01-28   55.139999  74.669998
2014-01-29   53.529999  74.099998
2014-01-30   61.080002  74.750000
2014-01-31   62.570000  74.680000
2014-02-03   61.480000  72.660004
2014-02-04   62.750000  72.730003
2014-02-05   62.189999  72.870003
2014-02-06   62.160000  72.820000
2014-02-07   64.320000  73.750000
2014-02-10   63.549999  73.760002
2014-02-11   64.849998  74.800003
2014-02-12   64.449997  74.959999
2014-02-13   67.330002  75.360001
...                ...        ...
2017-02-27  136.410004  71.739998
2017-02-28  135.539993  70.930000
2017-03-01  137.419998  70.449997
2017-03-02  136.759995  70.760002
2017-03-03  137.169998  70.029999
2017-03-06  137.419998  69.879997
2017-03-07  137.300003  69.870003
2017-03-08  137.720001  69.800003
2017-03-09  138.240005  69.860001
2017-03-10  138.789993  70.099998
2017-03-13  139.600006  69.949997
2017-03-14  139.320007  70.720001
2017-03-15  139.720001  70.580002
2017-03-16  139.990005  70.440002
2017-03-17  139.839996  69.889999
2017-03-20  139.940002  69.980003
2017-03-21  138.509995  69.900002
2017-03-22  139.589996  70.250000
2017-03-23  139.529999  69.860001
2017-03-24  140.339996  69.610001
2017-03-27  140.320007  69.660004
2017-03-28  141.759995  70.320000
2017-03-29  142.649994  70.739998
2017-03-30  142.410004  71.589996
2017-03-31  142.050003  72.080002
2017-04-03  142.279999  71.830002
2017-04-04  141.729996  72.010002
2017-04-05  141.850006  71.650002
2017-04-06  141.169998  71.430000
2017-04-07  140.779999  72.900002

[823 rows x 2 columns]

In [3]:
log_returns = np.log(adj_closes / adj_closes.shift(1))
print log_returns

                  FB       WMT
Date
2014-01-02       NaN       NaN
2014-01-03 -0.002745 -0.003300
2014-01-06  0.047253 -0.005610
2014-01-07  0.012509  0.003064
2014-01-08  0.005338 -0.007934
2014-01-09 -0.017497  0.003335
2014-01-10  0.012504 -0.000640
2014-01-13 -0.035665 -0.007073
2014-01-14  0.032207  0.006047
2014-01-15 -0.002428 -0.003855
2014-01-16 -0.007143 -0.011657
2014-01-17 -0.015685 -0.007453
2014-01-21  0.038503 -0.004604
2014-01-22 -0.017239 -0.006482
2014-01-23 -0.015420 -0.005189
2014-01-24 -0.039256 -0.007230
2014-01-27 -0.016667 -0.003635
2014-01-28  0.029260  0.006988
2014-01-29 -0.029633 -0.007663
2014-01-30  0.131942  0.008734
2014-01-31  0.024101 -0.000937
2014-02-03 -0.017574 -0.027421
2014-02-04  0.020447  0.000963
2014-02-05 -0.008964  0.001923
2014-02-06 -0.000482 -0.000686
2014-02-07  0.034159  0.012690
2014-02-10 -0.012044  0.000136
2014-02-11  0.020250  0.014001
2014-02-12 -0.006187  0.002137
2014-02-13  0.043716  0.005322
...              ...       ...
2017-02-27  0.007136 -0.009020
2017-02-28 -0.006398 -0.011355
2017-03-01  0.013775 -0.006790
2017-03-02 -0.004814  0.004391
2017-03-03  0.002993 -0.010370
2017-03-06  0.001821 -0.002144
2017-03-07 -0.000874 -0.000143
2017-03-08  0.003054 -0.001002
2017-03-09  0.003769  0.000859
2017-03-10  0.003971  0.003430
2017-03-13  0.005819 -0.002142
2017-03-14 -0.002008  0.010948
2017-03-15  0.002867 -0.001982
2017-03-16  0.001931 -0.001986
2017-03-17 -0.001072 -0.007839
2017-03-20  0.000715  0.001287
2017-03-21 -0.010271 -0.001144
2017-03-22  0.007767  0.004995
2017-03-23 -0.000430 -0.005567
2017-03-24  0.005788 -0.003585
2017-03-27 -0.000142  0.000718
2017-03-28  0.010210  0.009430
2017-03-29  0.006259  0.005955
2017-03-30 -0.001684  0.011944
2017-03-31 -0.002531  0.006821
2017-04-03  0.001618 -0.003474
2017-04-04 -0.003873  0.002503
2017-04-05  0.000846 -0.005012
2017-04-06 -0.004805 -0.003075
2017-04-07 -0.002766  0.020371

[823 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [4]:
log_returns.mean() * 250

FB     0.287455
WMT   -0.024093
dtype: float64

In [5]:
log_returns.std() * 250 ** 0.5

FB     0.287901
WMT    0.177903
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [7]:
log_returns.cov()*250

           FB       WMT
FB   0.082887  0.008832
WMT  0.008832  0.031649

Correlation matrix:

In [8]:
log_returns.corr()

           FB       WMT
FB   1.000000  0.172437
WMT  0.172437  1.000000

Would you consider investing in such a portfolio?