In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
datafile = '../data/IBEX35(201301-201512).xlsx'
xl = pd.ExcelFile(datafile)
xl.sheet_names

[u'Sheet1']

In [5]:
df = xl.parse(u'Sheet1')
df.head()

        Date   Price    Open    High     Low     Vol.  Change %
0 2013-01-02  8447.6  8337.9  8447.6  8286.7  280.53M    0.0343
1 2013-01-03  8403.4  8375.0  8422.6  8334.3  182.28M   -0.0052
2 2013-01-04  8435.8  8411.7  8447.0  8386.7  230.12M    0.0039
3 2013-01-07  8419.0  8434.3  8485.6  8406.3  289.12M   -0.0020
4 2013-01-08  8453.0  8388.2  8493.5  8374.7  335.52M    0.0040

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df.describe()

              Price          Open          High           Low    Change %
count    792.000000    792.000000    792.000000    792.000000  792.000000
mean    9963.164141   9965.216667  10037.700379   9878.218687    0.000415
std     1040.412907   1042.242568   1042.808739   1037.357084    0.012150
min     7553.200000   7636.600000   7674.600000   7508.400000   -0.050100
25%     9348.350000   9334.300000   9416.875000   9264.625000   -0.006800
50%    10223.250000  10227.000000  10310.500000  10129.350000    0.001000
75%    10691.600000  10700.725000  10761.575000  10611.200000    0.007600
max    11866.400000  11798.500000  11884.600000  11760.800000    0.038700

In [21]:
split_date = '2014-12-31'
train_data = df[df['Date'] <= split_date]
test_data = df[df['Date'] > split_date]
print train_data.shape, test_data.shape

(557, 7) (235, 7)

In [ ]:
def universe_partition(data, d1=10, d2=10):
    x_max = data.max(axis=0)
    x_min = data.min(axis=0)
    std_val = data.std(axis=0)
    len_val = std_val / 10
    d1 = d2 = (x_max - x_min) / 10 # 10% margin
    u_discourse = list()