## Calculating Portfolio Risk

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                 MSFT        AAPL
Date
2017-04-03  65.550003  143.699997
2017-04-04  65.730003  144.770004
2017-04-05  65.559998  144.020004
2017-04-06  65.730003  143.660004
2017-04-07  65.680000  143.339996

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
2007-01-10 -0.010064  0.046746
2007-01-11  0.034463 -0.012448
2007-01-12  0.016476 -0.012394
2007-01-16 -0.001603  0.025872
2007-01-17 -0.001927 -0.022391
2007-01-18 -0.003221 -0.063928
2007-01-19  0.003542 -0.006420
2007-01-22 -0.012615 -0.019511
2007-01-23  0.000651 -0.012639
2007-01-24  0.011321  0.011601
2007-01-25 -0.020800 -0.005204
2007-01-26  0.004914 -0.010138
2007-01-29 -0.002290  0.006538
2007-01-30 -0.001639 -0.004548
2007-01-31  0.012390  0.002102
2007-02-01 -0.009769 -0.011615
2007-02-02 -0.012181  0.000118
2007-02-05 -0.019399 -0.009603
2007-02-06 -0.003383  0.002499
2007-02-07 -0.004755  0.023489
2007-02-08 -0.003752  0.000348
2007-02-09 -0.009615 -0.034350
2007-02-12 -0.001381  0.019150
2007-02-13  0.005877 -0.002123
2007-02-14  0.013354  0.007059
...              ...       ...
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014424 -0.005955
2017-03-03  0.003742  0.005884
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004009 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542
2017-03-24  0.001694 -0.001989
2017-03-27  0.001845  0.001705
2017-03-28  0.002914  0.020515
2017-03-29  0.002753  0.002223
2017-03-30  0.003659 -0.001319
2017-03-31  0.002280 -0.001878
2017-04-03 -0.004718  0.000278
2017-04-04  0.002742  0.007419
2017-04-05 -0.002590 -0.005194
2017-04-06  0.002590 -0.002503
2017-04-07 -0.000761 -0.002230

[2585 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.00040044778669924656

In [7]:
sec_returns['MSFT'].mean() * 250

0.10011194667481164

In [8]:
sec_returns['MSFT'].std()

0.017594808167678083

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.2781983440179827

## Apple

In [10]:
sec_returns['AAPL'].mean()

0.0009986071934041322

In [11]:
sec_returns['AAPL'].mean() * 250

0.24965179835103304

In [12]:
sec_returns['AAPL'].std()

0.020568167013961865

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.3252112752943188

***

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.100112
AAPL    0.249652
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.278198
AAPL    0.325211
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000310  0.000168
AAPL  0.000168  0.000423

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.077394  0.041920
AAPL  0.041920  0.105762

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.463339
AAPL  0.463339  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.066749051312957608

Portfolio Volatility:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.2583583776713223

In [22]:
print str(round(pfolio_vol, 5) * 100) + ' %'

25.836 %