## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                 MSFT        AAPL
Date
2007-01-03  23.336937   10.857091
2007-01-04  23.297859   11.098071
2007-01-05  23.164996   11.019039
2007-01-08  23.391645   11.073455
2007-01-09  23.415091   11.993328
2007-01-10  23.180628   12.567276
2007-01-11  23.993435   12.411805
2007-01-12  24.392022   12.258925
2007-01-16  24.352945   12.580232
2007-01-17  24.306053   12.301679
2007-01-18  24.227898   11.539870
2007-01-19  24.313869   11.466021
2007-01-22  24.009065   11.244473
2007-01-23  24.024696   11.103253
2007-01-24  24.298237   11.232813
2007-01-25  23.798049   11.174511
2007-01-26  23.915280   11.061794
2007-01-29  23.860573   11.134348
2007-01-30  23.821494   11.083820
2007-01-31  24.118482   11.107140
2007-02-01  23.884018   10.978876
2007-02-02  23.594847   10.980172
2007-02-05  23.141551   10.875229
2007-02-06  23.063396   10.902436
2007-02-07  22.953980   11.161556
2007-02-08  22.868010   11.165443
2007-02-09  22.649177   10.788424
2007-02-12  22.617916   10.997015
2007-02-13  22.751239   10.973694
2007-02-14  23.057098   11.051430
...               ...         ...
2017-02-27  64.230003  136.929993
2017-02-28  63.980000  136.990005
2017-03-01  64.940002  139.789993
2017-03-02  64.010002  138.960007
2017-03-03  64.250000  139.779999
2017-03-06  64.269997  139.339996
2017-03-07  64.400002  139.520004
2017-03-08  64.989998  139.000000
2017-03-09  64.730003  138.679993
2017-03-10  64.930000  139.139999
2017-03-13  64.709999  139.199997
2017-03-14  64.410004  138.990005
2017-03-15  64.750000  140.460007
2017-03-16  64.639999  140.690002
2017-03-17  64.870003  139.990005
2017-03-20  64.930000  141.460007
2017-03-21  64.209999  139.839996
2017-03-22  65.029999  141.419998
2017-03-23  64.870003  140.919998
2017-03-24  64.980003  140.639999
2017-03-27  65.099998  140.880005
2017-03-28  65.290001  143.800003
2017-03-29  65.470001  144.119995
2017-03-30  65.709999  143.929993
2017-03-31  65.860001  143.660004
2017-04-03  65.550003  143.699997
2017-04-04  65.730003  144.770004
2017-04-05  65.559998  144.020004
2017-04-06  65.730003  143.660004
2017-04-07  65.680000  143.339996

[2585 rows x 2 columns]

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [2]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
2007-01-10 -0.010064  0.046746
2007-01-11  0.034463 -0.012448
2007-01-12  0.016476 -0.012394
2007-01-16 -0.001603  0.025872
2007-01-17 -0.001927 -0.022391
2007-01-18 -0.003221 -0.063928
2007-01-19  0.003542 -0.006420
2007-01-22 -0.012615 -0.019511
2007-01-23  0.000651 -0.012639
2007-01-24  0.011321  0.011601
2007-01-25 -0.020800 -0.005204
2007-01-26  0.004914 -0.010138
2007-01-29 -0.002290  0.006538
2007-01-30 -0.001639 -0.004548
2007-01-31  0.012390  0.002102
2007-02-01 -0.009769 -0.011615
2007-02-02 -0.012181  0.000118
2007-02-05 -0.019399 -0.009603
2007-02-06 -0.003383  0.002499
2007-02-07 -0.004755  0.023489
2007-02-08 -0.003752  0.000348
2007-02-09 -0.009615 -0.034350
2007-02-12 -0.001381  0.019150
2007-02-13  0.005877 -0.002123
2007-02-14  0.013354  0.007059
...              ...       ...
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014424 -0.005955
2017-03-03  0.003742  0.005884
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004009 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542
2017-03-24  0.001694 -0.001989
2017-03-27  0.001845  0.001705
2017-03-28  0.002914  0.020515
2017-03-29  0.002753  0.002223
2017-03-30  0.003659 -0.001319
2017-03-31  0.002280 -0.001878
2017-04-03 -0.004718  0.000278
2017-04-04  0.002742  0.007419
2017-04-05 -0.002590 -0.005194
2017-04-06  0.002590 -0.002503
2017-04-07 -0.000761 -0.002230

[2585 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [3]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [4]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.066749051312957608

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [5]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.077394
dtype: float64

In [6]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.105762
dtype: float64

Or:

In [7]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07739431861434784

In [8]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10576237357855722

Calculating Diversifiable Risk:

In [9]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.020959878264731342

In [10]:
print str(round(dr*100, 3)) + ' %'

2.096 %

Calculating Non-Diversifiable Risk:

In [11]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.045789173048226266

Or:

In [12]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.045789173048226266

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [13]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [14]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.084198013924278614

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [15]:
dr_2 = pfolio_var - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

-0.0040346405218929376

In [16]:
print str(round(dr*100, 3)) + ' %'

2.096 %

Calculating Non-Diversifiable Risk:

In [17]:
n_dr_2 = pfolio_var - dr_2
n_dr_2

0.070783691834850546

Or:

In [18]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.070783691834850546