## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2000-1-1')['Adj Close']

In [3]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012984  0.046281
2000-01-10  0.007265 -0.017744
2000-01-11 -0.025946 -0.052506
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104070
2000-01-14  0.040335  0.037405
2000-01-18  0.026917  0.034254
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034006 -0.018545
2000-01-27 -0.006309 -0.001703
2000-01-28 -0.005076 -0.079191
2000-01-31 -0.003824  0.020695
2000-02-01  0.050431 -0.034317
2000-02-02 -0.020860 -0.014443
2000-02-03  0.027516  0.044534
2000-02-04  0.027953  0.044373
2000-02-07  0.000586  0.054615
2000-02-08  0.030594  0.007098
2000-02-09 -0.055521 -0.019781
2000-02-10  0.019048  0.007739
2000-02-11 -0.058894 -0.042751
2000-02-14 -0.003132  0.062921
...              ...       ...
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014424 -0.005955
2017-03-03  0.003742  0.005884
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004009 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542
2017-03-24  0.001694 -0.001989
2017-03-27  0.001845  0.001705
2017-03-28  0.002914  0.020515
2017-03-29  0.002753  0.002223
2017-03-30  0.003659 -0.001319
2017-03-31  0.002280 -0.001878
2017-04-03 -0.004718  0.000278
2017-04-04  0.002742  0.007419
2017-04-05 -0.002590 -0.005194
2017-04-06  0.002590 -0.002503
2017-04-07 -0.000761 -0.002230

[4344 rows x 2 columns]

### MSFT

Daily risk:

In [4]:
returns['MSFT'].std()

0.01963476861611984

Annual risk:

In [5]:
returns['MSFT'].std() * 250 ** 0.5

0.31045295078665486

### Apple

Daily risk:

In [6]:
returns['AAPL'].std()

0.027702624608145862

Annual risk:

In [7]:
returns['AAPL'].std() * 250 ** 0.5

0.4380169546318523

******

Store the volatilities of the two stocks in an array called "vols".

In [8]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.310453
AAPL    0.438017
dtype: float64

How are the two risk values different?