## Simpler Returns - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb

In [2]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')
MSFT

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,117.375000,118.625000,112.000000,116.562500,53228400,39.334630
2000-01-04,113.562500,117.125000,112.250000,112.625000,54119000,38.005900
2000-01-05,111.125000,116.375000,109.375000,113.812500,64059600,38.406628
2000-01-06,112.187500,113.875000,108.375000,110.000000,54976600,37.120080
2000-01-07,108.625000,112.250000,107.312500,111.437500,62013600,37.605172
2000-01-10,113.437500,113.687500,111.375000,112.250000,44963600,37.879354
2000-01-11,111.500000,114.250000,108.687500,109.375000,46743600,36.909170
2000-01-12,108.500000,108.875000,104.437500,105.812500,66532400,35.706986
2000-01-13,104.375000,108.625000,101.500000,107.812500,83144000,36.381897
2000-01-14,107.187500,113.937500,105.750000,112.250000,73416400,37.879354
2000-01-18,111.812500,116.500000,111.750000,115.312500,81483600,38.912811
2000-01-19,110.500000,111.500000,106.000000,107.000000,97568200,36.107714
2000-01-20,107.062500,109.687500,105.875000,106.000000,56349800,35.770259
2000-01-21,107.000000,107.250000,103.250000,103.750000,68416200,35.010985
2000-01-24,103.796799,105.687500,100.812500,101.250000,63597600,34.167346
2000-01-25,101.000000,103.875000,99.562500,102.812500,59823200,34.694620
2000-01-26,102.437500,103.500000,99.125000,99.375000,49365000,33.534618
2000-01-27,99.890602,101.187500,97.250000,98.750000,63654800,33.323708
2000-01-28,98.125000,100.250000,97.250000,98.250000,58225400,33.154981
2000-01-31,97.625000,98.187500,94.875000,97.875000,73194200,33.028435
2000-02-01,98.500000,103.250000,97.687500,102.937500,70196600,34.736802
2000-02-02,102.437500,103.937500,100.500000,100.812500,49915600,34.019710
2000-02-03,102.062500,104.187500,100.125000,103.625000,49186000,34.968803
2000-02-04,104.375000,108.000000,104.140602,106.562500,55365400,35.960077
2000-02-07,106.812500,106.875000,104.250000,106.625000,40005800,35.981168
2000-02-08,106.437500,110.000000,106.437500,109.937500,56229000,37.098989
2000-02-09,109.437500,109.437500,103.875000,104.000000,55090000,35.095348
2000-02-10,103.890602,106.562500,102.500000,106.000000,54527800,35.770259
2000-02-11,104.875000,104.875000,99.125000,99.937500,115559000,33.724436
2000-02-14,101.234299,101.750000,99.062500,99.625000,81028600,33.618982
...,...,...,...,...,...,...
2017-02-27,64.540001,64.540001,64.050003,64.230003,15850400,64.230003
2017-02-28,64.080002,64.199997,63.759998,63.980000,23043900,63.980000
2017-03-01,64.129997,64.989998,64.019997,64.940002,26763800,64.940002
2017-03-02,64.690002,64.750000,63.880001,64.010002,24510900,64.010002
2017-03-03,63.990002,64.279999,63.619999,64.250000,18135900,64.250000
2017-03-06,63.970001,64.559998,63.810001,64.269997,17487700,64.269997
2017-03-07,64.190002,64.779999,64.190002,64.400002,18300700,64.400002
2017-03-08,64.260002,65.080002,64.250000,64.989998,20961700,64.989998
2017-03-09,65.190002,65.199997,64.480003,64.730003,19772700,64.730003
2017-03-10,65.110001,65.260002,64.750000,64.930000,19528300,64.930000
2017-03-13,65.010002,65.190002,64.570000,64.709999,19551800,64.709999
2017-03-14,64.529999,64.550003,64.150002,64.410004,14263700,64.410004
2017-03-15,64.550003,64.919998,64.250000,64.750000,20501900,64.750000
2017-03-16,64.750000,64.760002,64.300003,64.639999,20532600,64.639999
2017-03-17,64.910004,65.239998,64.680000,64.870003,48994700,64.870003
2017-03-20,64.910004,65.180000,64.720001,64.930000,12744200,64.930000
2017-03-21,65.190002,65.500000,64.129997,64.209999,26191800,64.209999
2017-03-22,64.120003,65.139999,64.120003,65.029999,20632800,65.029999
2017-03-23,64.940002,65.239998,64.769997,64.870003,18819600,64.870003
2017-03-24,65.360001,65.449997,64.760002,64.980003,22373200,64.980003
2017-03-27,64.629997,65.220001,64.349998,65.099998,18550200,65.099998
2017-03-28,64.959999,65.470001,64.650002,65.290001,20039300,65.290001
2017-03-29,65.120003,65.500000,64.949997,65.470001,13512400,65.470001
2017-03-30,65.419998,65.980003,65.360001,65.709999,15100400,65.709999
2017-03-31,65.650002,66.190002,65.449997,65.860001,21001100,65.860001
2017-04-03,65.809998,65.940002,65.190002,65.550003,20352800,65.550003
2017-04-04,65.389999,65.809998,65.279999,65.730003,12981200,65.730003
2017-04-05,66.300003,66.349998,65.440002,65.559998,21381100,65.559998
2017-04-06,65.599998,66.059998,65.480003,65.730003,18070500,65.730003
2017-04-07,65.849998,65.959999,65.440002,65.680000,13772400,65.680000

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

                Open     High       Low     Close    Volume  Adj Close
Date
2000-01-03  117.3750  118.625  112.0000  116.5625  53228400  39.334630
2000-01-04  113.5625  117.125  112.2500  112.6250  54119000  38.005900
2000-01-05  111.1250  116.375  109.3750  113.8125  64059600  38.406628
2000-01-06  112.1875  113.875  108.3750  110.0000  54976600  37.120080
2000-01-07  108.6250  112.250  107.3125  111.4375  62013600  37.605172

In [4]:
MSFT.tail()

                 Open       High        Low      Close    Volume  Adj Close
Date
2017-04-03  65.809998  65.940002  65.190002  65.550003  20352800  65.550003
2017-04-04  65.389999  65.809998  65.279999  65.730003  12981200  65.730003
2017-04-05  66.300003  66.349998  65.440002  65.559998  21381100  65.559998
2017-04-06  65.599998  66.059998  65.480003  65.730003  18070500  65.730003
2017-04-07  65.849998  65.959999  65.440002  65.680000  13772400  65.680000

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print MSFT['simple_return']

Date
2000-01-03         NaN
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007291
2000-01-11   -0.025612
2000-01-12   -0.032571
2000-01-13    0.018901
2000-01-14    0.041159
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033435
2000-01-27   -0.006289
2000-01-28   -0.005063
2000-01-31   -0.003817
2000-02-01    0.051724
2000-02-02   -0.020644
2000-02-03    0.027898
2000-02-04    0.028347
2000-02-07    0.000587
2000-02-08    0.031067
2000-02-09   -0.054008
2000-02-10    0.019231
2000-02-11   -0.057193
2000-02-14   -0.003127
                ...
2017-02-27   -0.006035
2017-02-28   -0.003892
2017-03-01    0.015005
2017-03-02   -0.014321
2017-03-03    0.003749
2017-03-06    0.000311
2017-03-07    0.002023
2017-03-08    0.009161
2017-03-09   -0.004001
2017-03-10    0.003090
2017-03-13   -0.003388
2017-03-14   -0.004636
2017-03-15    0.005279
2017-03-16   -0.001699
2017-03-17    0.003558
2017-03-20    0.000925
2017-03-21   -0.011089
2017-03-22    0.012771
2017-03-23   -0.002460
2017-03-24    0.001696
2017-03-27    0.001847
2017-03-28    0.002919
2017-03-29    0.002757
2017-03-30    0.003666
2017-03-31    0.002283
2017-04-03   -0.004707
2017-04-04    0.002746
2017-04-05   -0.002586
2017-04-06    0.002593
2017-04-07   -0.000761
Name: simple_return, dtype: float64