## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data_dir = '../dataset/'
tickers = ['MSFT','AAPL']
adj_prices = pd.DataFrame()
for t in tickers:
    adj_prices[t] = pd.read_csv(os.path.join(data_dir, t+'.csv'), index_col=0)['Adj Close']
adj_prices

                 MSFT        AAPL
Date
2000-01-03  58.281250    3.997768
2000-01-04  56.312500    3.660714
2000-01-05  56.906250    3.714286
2000-01-06  55.000000    3.392857
2000-01-07  55.718750    3.553571
2000-01-10  56.125000    3.491071
2000-01-11  54.687500    3.312500
2000-01-12  52.906250    3.113839
2000-01-13  53.906250    3.455357
2000-01-14  56.125000    3.587054
2000-01-18  57.656250    3.712054
2000-01-19  53.500000    3.805804
2000-01-20  53.000000    4.053571
2000-01-21  51.875000    3.975446
2000-01-24  50.625000    3.794643
2000-01-25  51.406250    4.008929
2000-01-26  49.687500    3.935268
2000-01-27  49.375000    3.928571
2000-01-28  49.125000    3.629464
2000-01-31  48.937500    3.705357
2000-02-01  51.468750    3.580357
2000-02-02  50.406250    3.529018
2000-02-03  51.812500    3.689732
2000-02-04  53.281250    3.857143
2000-02-07  53.312500    4.073661
2000-02-08  54.968750    4.102679
2000-02-09  52.000000    4.022321
2000-02-10  53.000000    4.053571
2000-02-11  49.968750    3.883929
2000-02-14  49.812500    4.136161
...               ...         ...
2017-02-27  64.230003  136.929993
2017-02-28  63.980000  136.990005
2017-03-01  64.940002  139.789993
2017-03-02  64.010002  138.960007
2017-03-03  64.250000  139.779999
2017-03-06  64.269997  139.339996
2017-03-07  64.400002  139.520004
2017-03-08  64.989998  139.000000
2017-03-09  64.730003  138.679993
2017-03-10  64.930000  139.139999
2017-03-13  64.709999  139.199997
2017-03-14  64.410004  138.990005
2017-03-15  64.750000  140.460007
2017-03-16  64.639999  140.690002
2017-03-17  64.870003  139.990005
2017-03-20  64.930000  141.460007
2017-03-21  64.209999  139.839996
2017-03-22  65.029999  141.419998
2017-03-23  64.870003  140.919998
2017-03-24  64.980003  140.639999
2017-03-27  65.099998  140.880005
2017-03-28  65.290001  143.800003
2017-03-29  65.470001  144.119995
2017-03-30  65.709999  143.929993
2017-03-31  65.860001  143.660004
2017-04-03  65.550003  143.699997
2017-04-04  65.730003  144.770004
2017-04-05  65.559998  144.020004
2017-04-06  65.730003  143.660004
2017-04-07  65.680000  143.339996

[4344 rows x 2 columns]

In [3]:
log_returns = np.log(adj_prices / adj_prices.shift(1))
log_returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012984  0.046281
2000-01-10  0.007265 -0.017744
2000-01-11 -0.025946 -0.052505
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104069
2000-01-14  0.040335  0.037405
2000-01-18  0.026917  0.034254
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034006 -0.018545
2000-01-27 -0.006309 -0.001703
2000-01-28 -0.005076 -0.079191
2000-01-31 -0.003824  0.020695
2000-02-01  0.050431 -0.034317
2000-02-02 -0.020860 -0.014443
2000-02-03  0.027516  0.044534
2000-02-04  0.027953  0.044373
2000-02-07  0.000586  0.054615
2000-02-08  0.030594  0.007098
2000-02-09 -0.055521 -0.019781
2000-02-10  0.019048  0.007739
2000-02-11 -0.058894 -0.042751
2000-02-14 -0.003132  0.062921
...              ...       ...
2017-02-27 -0.006054  0.001974
2017-02-28 -0.003900  0.000438
2017-03-01  0.014893  0.020233
2017-03-02 -0.014424 -0.005955
2017-03-03  0.003742  0.005884
2017-03-06  0.000311 -0.003153
2017-03-07  0.002021  0.001291
2017-03-08  0.009120 -0.003734
2017-03-09 -0.004009 -0.002305
2017-03-10  0.003085  0.003312
2017-03-13 -0.003394  0.000431
2017-03-14 -0.004647 -0.001510
2017-03-15  0.005265  0.010521
2017-03-16 -0.001700  0.001636
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542
2017-03-24  0.001694 -0.001989
2017-03-27  0.001845  0.001705
2017-03-28  0.002914  0.020515
2017-03-29  0.002753  0.002223
2017-03-30  0.003659 -0.001319
2017-03-31  0.002280 -0.001878
2017-04-03 -0.004718  0.000278
2017-04-04  0.002742  0.007419
2017-04-05 -0.002590 -0.005194
2017-04-06  0.002590 -0.002503
2017-04-07 -0.000761 -0.002230

[4344 rows x 2 columns]

### MSFT

Daily risk:

In [4]:
log_returns['MSFT'].std()

0.01968623256449943

Annual risk:

In [5]:
log_returns['MSFT'].std() * 250 ** 0.5

0.3112666672579791

### Apple

Daily risk:

In [6]:
log_returns['AAPL'].std()

0.027705139617163727

Annual risk:

In [7]:
log_returns['AAPL'].std() * 250 ** 0.5

0.4380567204160139

******

Store the volatilities of the two stocks in an array called “vols”.

In [8]:
vols = log_returns[['MSFT', 'AAPL']].std() * 250 **0.5
vols

MSFT    0.311267
AAPL    0.438057
dtype: float64

How are the two risk values different?